* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
    margin: 0px;
    background: #089ea2;
    background: linear-gradient(90deg,#089ea2 20%, #110d26 50%);
    background: -webkit-linear-gradient(90deg,#089ea2 20%, #110d26 50%);
    background: -moz-linear-gradient(90deg,#089ea2 20%, #110d26 50%);
}

header {
    margin: 0 auto;
    width: 100%;
    background: #6e3465;
}

main {
    width: 100%;
    margin: 0 auto;
}

main>div {
    display: flex;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-image: url(../img/olen_art_vektor_134088_3840x2400.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    background-position: 50% -50px;
    background-repeat: no-repeat;
    padding-left: 100px;
    
}
main>div>span {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid #FFFFFF;
    margin-top: 200px;
}

.textboard-h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 100px;
}

.text-h2 {
    color: #FFFFFF;
    text-align: left;
}

.head {
    display: flex;
    justify-content: space-around;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.main-menu2 {
    display: flex;
    align-items: center;

}

.main-menu2>a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
}
.main-menu2 > a:hover {
border-bottom: 1px solid white;
}

.tiam {
    display: flex;
    align-items: center;
}

.gid {
    color: #FFFFFF;
}

.board-text h1::after {
    content: "";
    width: 5px;
    height: 269px;
    position: absolute;
    background: #fffcfc;
    top: -76px;
    left: -20px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-bord {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 450px;
    margin: 0 auto;
    top: 900px;

}
.main-bord > iframe {
    border: 4px solid rgb(0, 0, 0);
    box-shadow: -1px 0px 85px 33px rgba(238,187,170,0.46);
    -webkit-box-shadow: -1px 0px 85px 33px rgba(238,187,170,0.46);
    -moz-box-shadow: -1px 0px 85px 33px rgba(238,187,170,0.46);

}

.Google-map {
    width: 100%;
    height: 100%;
}

.board-slaid {
    display: flex;
    width: 1440px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slaid {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.h1 {
    margin-top: 200px;
    color: #FFFFFF;
}
.slider {
    width: 80%;
    position: relative;
    height: 300px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider-dots {
    text-align: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.team-container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.team-container__item {
    flex: 0 0 255px;
    display: flex;
    flex-direction: column;
}

.team-container__item-footer {
    box-shadow: -1px 0px 246px 24px rgba(238,187,170,0.41);
    -webkit-box-shadow: -1px 0px 246px 24px rgba(238,187,170,0.41);
    -moz-box-shadow: -1px 0px 246px 24px rgba(238,187,170,0.41);
    padding: 20px;

}

.team-container__item-footer>span,
.team-container__item-footer>h3 {
    display: block;
}

.team-container__item-footer>h3 {
    color: #FFFFFF;
}

.team-container__item-footer>span {
    font-size: 12px;
    color: gold;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.team-container__item>figure {
    position: relative;
    height: 260px;
    overflow: hidden;
}

.team-container__item>figure>figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(22, 28, 53, 0);
    display: flex;
    justify-content: center;
    transition-duration: 0.1s;
}

.team-container__item>figure>figcaption>a {
    display: flex;
    text-decoration: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: auto;
    margin-bottom: 20px;
    color: white;
    line-height: 30px;
    text-align: center;
    transition-duration: 0.5s;
    background: #c3fff8;
    border-radius: 8px;
    border: 2px solid #110d26;
}

.tiam34 {
    display: flex;
    width: 1440px;
    height: 848px;
    margin: 0 auto;
    background: #120d2600;
    flex-direction: column;
    align-items: center;
}

.tiam34>h2>span {
    color: #FFFFFF;
}

.team-container__item>figure>figcaption>a:nth-child(1) {
    transform: translateY(60px);
}

.team-container__item>figure>figcaption>a:nth-child(2) {
    transform: translateY(90px);
}

.team-container__item>figure>figcaption>a:nth-child(3) {
    transform: translateY(130px);
}

.team-container__item>figure>figcaption>a:nth-child(4) {
    transform: translateY(170px);
}

.team-container__item>figure>figcaption>a:hover {
    color: #ffc0ca;
    background: white;
}

.team-container__item>figure>img {
    transition-duration: 1s;
}

.team-container__item>figure:hover>img {
    transform: scale3d(1.1, 1.1, 1);
}

.team-container__item>figure:hover>figcaption>a {
    transform: translateY(0px);
}

.main-wrapper {
    width: 1162px;
    height: 848px;
    background: #120d2600;
}

footer {
    color: white;
    margin-bottom: 50px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-block h3 {
    font-size: 40px;

}

hr {
    opacity: 0.3;
    margin-top: 47px;
    margin-bottom: 10px;
}

.item.social {
    text-align: center;
}

.item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
    margin-top: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-logo {
    margin-top: 15px;
    margin-left: 15px;
}

.ssilki {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ssilki>div:first-child {
    margin-right: 20px;
}

.ssilki>div:last-child {
    margin-left: 20px;
}


.border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #3e4a38;
    transition-duration: 0.3s;
}

.border-button:before,
.border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.border-button:before {
    bottom: 0;
    left: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.border-button:after {
    top: 0;
    right: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.border-button:hover:before,
.border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.border-button:hover {
    transition-duration: 0.3s;
    background: #4a383c;
}

.bot1 {
    z-index: 3;
    position: fixed;
    top: 85%;
    right: 15px;

}

.bot {
    width: 100px;
    height: 100px;
    z-index: 4;
    top: 100%;
    right: 0;
    bottom: 0px;
    border-radius: 100%;
}

.bot>a>img {
    width: 100px;
    height: 100px;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.ssilki > a {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.trans{
    display: flex;
    border: 1px solid white;
    background: white;
    border-radius: 10px 10px 0 0;
    justify-content: center;
}